
.upmenu-bkg {
  background-color: black;
}
.upmenu{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  margin: 0 auto;
}
.upmenu-a {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.upmenu-a a{
  padding: 9px 8px;
  display: inline-block;
  color: #fff;
  border-radius: 6px;
}

.upmenu-a a:hover {
  background-color: #4D5D53;
}


.lower-menu {
  background-color: #4D5D53;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  color: #fff;
  text-align: center;
}

.lower-menu a{
  color: #fff;
  display: inline-block;
}


@media (max-width:800px) {
   .upmenu-a a{
    background-color: #4D5D53;
    padding: 9px 8px;
    border-radius: 6px;
   }
   .upmenu-a{
    gap: 20px;
   }
   .upmenu-a a:hover{
    background-color: #679267;
   }
   .lower-menu {
    display: none;
    padding-bottom: 0;
    padding-top: 0;
   }
  }
